.exam-table-wrapper {
    width: 100%;
    overflow-x: auto;
    background-color: #ffffff;
    border-radius: 12px;
}

.special-exam-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    text-align: left;
}
